<?php

/**
 * Config sample file
 */
return array(
	'zend_path' => '',
	'botliga_api_key' => '53mxi3nd8q7v06jtijoe0sho',
	'current_season_id' => '',
	'openliga' => array(
		'compare_team1_with_team2_url' => 'http://openligadb-json.heroku.com/api/matchdata_by_teams?team_id_1={T1}&team_id_2={T2}'
	)
);
?>
